= form_with model: @article_type, remote: true do |f|
  - if @article_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article_type.errors.count, "error")} prohibited this article_type from being saved:"
      %ul
        - @article_type.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name, lable: 'lable'
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
