<%= form_with(model: article_type, local: true) do |form| %>
  <% if article_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_type.errors.count, "error") %> prohibited this article_type from being saved:</h2>

      <ul>
      <% article_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :article_type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :article_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
