%p#notice= notice

%p
  %b Name:
  = @article_type.name
%p
  %b Description:
  = @article_type.description

= link_to 'Edit', edit_article_type_path(@article_type)
\|
= link_to 'Back', article_types_path
